<p id="notice"><%= notice %></p>

<h1>User Accesses</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Portid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accesses.each do |user_access| %>
      <tr>
        <td><%= user_access.UserID %></td>
        <td><%= user_access.PortID %></td>
        <td><%= link_to 'Show', user_access %></td>
        <td><%= link_to 'Edit', edit_user_access_path(user_access) %></td>
        <td><%= link_to 'Destroy', user_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Access', new_user_access_path %>
