<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_access.user_id %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @user_access.portfolio_id %>
</p>

<%= link_to 'Edit', edit_user_access_path(@user_access) %> |
<%= link_to 'Back', user_accesses_path %>
