<%= form_with(model: completed_verification, local: true) do |form| %>
  <% if completed_verification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(completed_verification.errors.count, "error") %> prohibited this completed_verification from being saved:</h2>

      <ul>
      <% completed_verification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.number_field :work_id, id: :completed_verification_work_id %>
  </div>

  <div class="field">
    <%= form.label :criteria_description %>
    <%= form.text_field :criteria_description, id: :completed_verification_criteria_description %>
  </div>

  <div class="field">
    <%= form.label :is_completed %>
    <%= form.check_box :is_completed, id: :completed_verification_is_completed %>
  </div>

  <div class="field">
    <%= form.label :date_completed %>
    <%= form.datetime_select :date_completed, id: :completed_verification_date_completed %>
  </div>

  <div class="field">
    <%= form.label :added_by %>
    <%= form.number_field :added_by, id: :completed_verification_added_by %>
  </div>

  <div class="field">
    <%= form.label :completed_by %>
    <%= form.number_field :completed_by, id: :completed_verification_completed_by %>
  </div>

  <div class="field">
    <%= form.label :importance_level %>
    <%= form.number_field :importance_level, id: :completed_verification_importance_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
