<p id="notice"><%= notice %></p>

<h1>Completed Verifications</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Criteria Description</th>
      <th>Completed</th>
      <th>Date Completed</th>
      <th>Added By</th>
      <th>Completed By</th>
      <th>Importance Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_verifications.each do |completed_verification| %>
      <tr>
        <td><%= completed_verification.work_id %></td>
        <td><%= completed_verification.criteria_description %></td>
        <td><%= completed_verification.is_completed %></td>
        <td><%= completed_verification.date_completed %></td>
        <td><%= completed_verification.added_by %></td>
        <td><%= completed_verification.completed_by %></td>
        <td><%= completed_verification.importance_level %></td>
        <td><%= link_to 'Show', completed_verification %></td>
        <td><%= link_to 'Edit', edit_completed_verification_path(completed_verification) %></td>
        <td><%= link_to 'Destroy', completed_verification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Completed Verification', new_completed_verification_path %>
