<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @completed_verification.work_id %>
</p>

<p>
  <strong>Criteria Description:</strong>
  <%= @completed_verification.criteria_description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @completed_verification.is_completed %>
</p>

<p>
  <strong>Date Completed:</strong>
  <%= @completed_verification.date_completed %>
</p>

<p>
  <strong>Added By:</strong>
  <%= @completed_verification.added_by %>
</p>

<p>
  <strong>Completed By:</strong>
  <%= @completed_verification.completed_by %>
</p>

<p>
  <strong>Importance Level:</strong>
  <%= @completed_verification.importance_level %>
</p>

<%= link_to 'Edit', edit_completed_verification_path(@completed_verification) %> |
<%= link_to 'Back', completed_verifications_path %>
