<%= form_with(model: task_type, local: true) do |form| %>
  <% if task_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_type.errors.count, "error") %> prohibited this task_type from being saved:</h2>

      <ul>
      <% task_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_type %>
    <%= form.text_field :task_type, id: :task_type_task_type %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :task_type_is_active %>
  </div>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.number_field :portfolio_id, id: :task_type_portfolio_id %>
  </div>

  <div class="field">
    <%= form.label :edit_label %>
    <%= form.text_field :edit_label, id: :task_type_edit_label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
