<p id="notice"><%= notice %></p>

<p>
  <strong>Task Type:</strong>
  <%= @task_type.task_type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @task_type.is_active %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @task_type.portfolio_id %>
</p>

<p>
  <strong>Edit Label:</strong>
  <%= @task_type.edit_label %>
</p>

<%= link_to 'Edit', edit_task_type_path(@task_type) %> |
<%= link_to 'Back', task_types_path %>
