<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @task.work_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Task Type:</strong>
  <%= @task.task_type_id %>
</p>

<p>
  <strong>Estimated Hours:</strong>
  <%= @task.est_hours %>
</p>

<p>
  <strong>Remaining Hours:</strong>
  <%= @task.remaining_hours %>
</p>

<p>
  <strong>Actual Hours:</strong>
  <%= @task.actual_hours %>
</p>

<p>
  <strong>Waiting On Task:</strong>
  <%= @task.Waiting On TaskID %>
</p>

<p>
  <strong>Task Status:</strong>
  <%= @task.task_status_id %>
</p>

<p>
  <strong>Date Started:</strong>
  <%= @task.date_started %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
