<p id="notice"><%= notice %></p>

<p>
  <strong>Portname:</strong>
  <%= @portfolio.PortName %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @portfolio.isActive %>
</p>

<p>
  <strong>Companyid:</strong>
  <%= @portfolio.CompanyID %>
</p>

<p>
  <strong>Isdefault:</strong>
  <%= @portfolio.isDefault %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path(@companyid, :companyid=>@portfolio.CompanyID) %>
