<p id="notice"><%= notice %></p>

<p>
  <strong>Task Status:</strong>
  <%= @task_status.task_status %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @task_status.portfolio_id %>
</p>

<%= link_to 'Edit', edit_task_status_path(@task_status) %> |
<%= link_to 'Back', task_statuses_path %>
