<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_name %>
    <%= form.text_field :work_name, id: :work_work_name %>
  </div>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.number_field :portfolio_id, id: :work_portfolio_id%>
  </div>

  <div class="field">
    <%= form.label :work_type_id %>
    <%= form.number_field :work_type_id, id: :work_work_type_id %>
  </div>

  <div class="field">
    <%= form.label :parent_work_id %>
    <%= form.number_field :parent_work_id, id: :work_parent_work_id %>
  </div>

  <div class="field">
    <%= form.label :est_loe %>
    <%= form.number_field :est_loe, id: :work_est_loe %>
  </div>

  <div class="field">
    <%= form.label :work_owner_id %>
    <%= form.number_field :work_owner_id, id: :work_work_owner_id %>
  </div>

  <div class="field">
    <%= form.label :work_description %>
    <%= form.text_field :work_description, id: :work_work_description %>
  </div>

  <div class="field">
    <%= form.label :stage_id %>
    <%= form.number_field :stage_id, id: :work_stage_id %>
  </div>

  <div class="field">
    <%= form.label :requested_by_id %>
    <%= form.number_field :requested_by_id, id: :work_requested_by_id %>
  </div>

  <div class="field">
    <%= form.label :date_deleted %>
    <%= form.text_field :date_deleted, id: :work_date_deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
