<p id="notice"><%= notice %></p>

<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Work Name</th>
      <th>Portfolio</th>
      <th>Work Type</th>
      <th>Parent Work</th>
      <th>Estimated LOE</th>
      <th>Work Owner</th>
      <th>Work Description</th>
      <th>Stage</th>
      <th>Requested By</th>
      <th>Date Deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.work_name %></td>
        <td><%= work.portfolio_id %></td>
        <td><%= work.work_type_id %></td>
        <td><%= work.parent_work_id %></td>
        <td><%= work.est_loe %></td>
        <td><%= work.work_owner_id %></td>
        <td><%= work.work_description %></td>
        <td><%= work.stage_id %></td>
        <td><%= work.requested_by_id %></td>
        <td><%= work.date_deleted %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
