<p id="notice"><%= notice %></p>

<p>
  <strong>Work Name:</strong>
  <%= @work.work_name %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @work.portfolio_id %>
</p>

<p>
  <strong>Work Type:</strong>
  <%= @work.work_type_id %>
</p>

<p>
  <strong>Parent Work:</strong>
  <%= @work.parent_work_id %>
</p>

<p>
  <strong>Estimated LOE:</strong>
  <%= @work.est_loe %>
</p>

<p>
  <strong>Work Owner:</strong>
  <%= @work.work_owner_id %>
</p>

<p>
  <strong>Work Description:</strong>
  <%= @work.work_description %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @work.stage_id %>
</p>

<p>
  <strong>Requested By:</strong>
  <%= @work.requested_by_id %>
</p>

<p>
  <strong>Date Deleted:</strong>
  <%= @work.date_deleted %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
