<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :UserName %>
    <%= form.text_field :UserName, id: :user_UserName %>
  </div>

  <div class="field">
    <%= form.label :UserEmail %>
    <%= form.text_field :UserEmail, id: :user_UserEmail %>
  </div>

<div class="field">
    <%= form.number_field :CompanyID, id: :portfolio_CompanyID , :value => params[:companyid] , readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
