<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path(@company_id,:company_id=>@user.company_id) %>
