<%= form_with(model: level_of_effort, local: true) do |form| %>
  <% if level_of_effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level_of_effort.errors.count, "error") %> prohibited this level_of_effort from being saved:</h2>

      <ul>
      <% level_of_effort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :PortID %>
    <%= form.number_field :PortID, id: :level_of_effort_PortID %>
  </div>

  <div class="field">
    <%= form.label :LOEMin %>
    <%= form.number_field :LOEMin, id: :level_of_effort_LOEMin %>
  </div>

  <div class="field">
    <%= form.label :LOEMax %>
    <%= form.number_field :LOEMax, id: :level_of_effort_LOEMax %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
