<%= form_with(model: level_of_effort, local: true) do |form| %>
  <% if level_of_effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level_of_effort.errors.count, "error") %> prohibited this level_of_effort from being saved:</h2>

      <ul>
      <% level_of_effort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.number_field :portfolio_id, id: :level_of_effort_portfolio_id %>
  </div>

  <div class="field">
    <%= form.label :loe_min %>
    <%= form.number_field :loe_min, id: :level_of_effort_loe_min %>
  </div>

  <div class="field">
    <%= form.label :loe_max %>
    <%= form.number_field :loe_max, id: :level_of_effort_loe_max %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
