<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio:</strong>
  <%= @level_of_effort.portfolio_id %>
</p>

<p>
  <strong>LOE Min:</strong>
  <%= @level_of_effort.loe_min %>
</p>

<p>
  <strong>LOE Max:</strong>
  <%= @level_of_effort.loe_max %>
</p>

<%= link_to 'Edit', edit_level_of_effort_path(@level_of_effort) %> |
<%= link_to 'Back', level_of_efforts_path %>
