<p id="notice"><%= notice %></p>

<p>
  <strong>Worktype:</strong>
  <%= @work_type.WorkType %>
</p>

<p>
  <strong>Portid:</strong>
  <%= @work_type.PortID %>
</p>

<p>
  <strong>Editlabel:</strong>
  <%= @work_type.EditLabel %>
</p>

<%= link_to 'Edit', edit_work_type_path(@work_type) %> |
<%= link_to 'Back', work_types_path %>
