<p id="notice"><%= notice %></p>

<p>
  <strong>Work Type:</strong>
  <%= @work_type.work_type %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @work_type.portfolio_id %>
</p>

<p>
  <strong>Edit Label:</strong>
  <%= @work_type.edit_label %>
</p>

<%= link_to 'Edit', edit_work_type_path(@work_type) %> |
<%= link_to 'Back', work_types_path %>
