<%= form_with(model: time_line, local: true) do |form| %>
  <% if time_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_line.errors.count, "error") %> prohibited this time_line from being saved:</h2>

      <ul>
      <% time_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.number_field :work_id, id: :time_line_work_id %>
  </div>

  <div class="field">
    <%= form.label :remaining_hours %>
    <%= form.number_field :remaining_hours, id: :time_line_remaining_hours %>
  </div>

  <div class="field">
    <%= form.label :stage_id %>
    <%= form.number_field :stage_id, id: :time_line_stage_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id, id: :time_line_task_id %>
  </div>

  <div class="field">
    <%= form.label :task_status_id %>
    <%= form.number_field :task_status_id, id: :time_line_task_status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
