<p id="notice"><%= notice %></p>

<h1>Time Lines</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Remaining Hours</th>
      <th>Stage</th>
      <th>Task</th>
      <th>Task Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_lines.each do |time_line| %>
      <tr>
        <td><%= time_line.work_id %></td>
        <td><%= time_line.remaining_hours %></td>
        <td><%= time_line.stage_id %></td>
        <td><%= time_line.task_id %></td>
        <td><%= time_line.task_status_id %></td>
        <td><%= link_to 'Show', time_line %></td>
        <td><%= link_to 'Edit', edit_time_line_path(time_line) %></td>
        <td><%= link_to 'Destroy', time_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Line', new_time_line_path %>
