<p id="notice"><%= notice %></p>

<h1>Time Lines</h1>

<table>
  <thead>
    <tr>
      <th>Workid</th>
      <th>Remainghours</th>
      <th>Stageid</th>
      <th>Taskid</th>
      <th>Taskstatusid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_lines.each do |time_line| %>
      <tr>
        <td><%= time_line.WorkID %></td>
        <td><%= time_line.RemaingHours %></td>
        <td><%= time_line.StageID %></td>
        <td><%= time_line.TaskID %></td>
        <td><%= time_line.TaskStatusID %></td>
        <td><%= link_to 'Show', time_line %></td>
        <td><%= link_to 'Edit', edit_time_line_path(time_line) %></td>
        <td><%= link_to 'Destroy', time_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Line', new_time_line_path %>
