<p id="notice"><%= notice %></p>

<p>
  <strong>Work:</strong>
  <%= @time_line.work_id %>
</p>

<p>
  <strong>Remaining Hours:</strong>
  <%= @time_line.remaining_hours %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @time_line.stage_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @time_line.task_id %>
</p>

<p>
  <strong>Task Status:</strong>
  <%= @time_line.task_status_id %>
</p>

<%= link_to 'Edit', edit_time_line_path(@time_line) %> |
<%= link_to 'Back', time_lines_path %>
