<p id="notice"><%= notice %></p>

<h1>Work Groups</h1>

<table>
  <thead>
    <tr>
      <th>Worktypeid</th>
      <th>Stageid</th>
      <th>Tasktypeid</th>
      <th>Roleid</th>
      <th>Environmentid</th>
      <th>Portid</th>
      <th>Workgrouporder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_groups.each do |work_group| %>
      <tr>
        <td><%= work_group.WorkTypeID %></td>
        <td><%= work_group.StageID %></td>
        <td><%= work_group.TaskTypeID %></td>
        <td><%= work_group.RoleID %></td>
        <td><%= work_group.EnvironmentID %></td>
        <td><%= work_group.PortID %></td>
        <td><%= work_group.WorkGroupOrder %></td>
        <td><%= link_to 'Show', work_group %></td>
        <td><%= link_to 'Edit', edit_work_group_path(work_group) %></td>
        <td><%= link_to 'Destroy', work_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Group', new_work_group_path %>
