<p id="notice"><%= notice %></p>

<p>
  <strong>Work Type:</strong>
  <%= @work_group.work_type_id %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @work_group.stage_id %>
</p>

<p>
  <strong>Task Type:</strong>
  <%= @work_group.task_type_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @work_group.role_id %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @work_group.environment_id %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @work_group.portfolio_id %>
</p>

<p>
  <strong>Work Group Order:</strong>
  <%= @work_group.work_group_order %>
</p>

<%= link_to 'Edit', edit_work_group_path(@work_group) %> |
<%= link_to 'Back', work_groups_path %>
