<%= form_with(model: stage, local: true) do |form| %>
  <% if stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stage_name %>
    <%= form.text_field :stage_name, id: :stage_stage_name %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :stage_is_active %>
  </div>

  <div class="field">
    <%= form.label :stage_order %>
    <%= form.text_field :stage_order, id: :stage_stage_order %>
  </div>

  <div class="field">
    <%= form.label :portfolio_id %>
    <%= form.number_field :portfolio_id, id: :stage_portfolio_id %>
  </div>

  <div class="field">
    <%= form.label :edit_label %>
    <%= form.text_field :edit_label, id: :stage_edit_label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
