<p id="notice"><%= notice %></p>

<h1>Stages</h1>

<table>
  <thead>
    <tr>
      <th>Stagename</th>
      <th>Isactive</th>
      <th>Stageorder</th>
      <th>Portid</th>
      <th>Editlabel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.StageName %></td>
        <td><%= stage.isActive %></td>
        <td><%= stage.StageOrder %></td>
        <td><%= stage.PortID %></td>
        <td><%= stage.EditLabel %></td>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>
