<p id="notice"><%= notice %></p>

<p>
  <strong>Stage:</strong>
  <%= @stage.stage_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @stage.is_active %>
</p>

<p>
  <strong>Order:</strong>
  <%= @stage.stage_order %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @stage.portfolio_id %>
</p>

<p>
  <strong>Edit Label:</strong>
  <%= @stage.edit_label %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
