<%= form_with(model: edit_history, local: true) do |form| %>
  <% if edit_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edit_history.errors.count, "error") %> prohibited this edit_history from being saved:</h2>

      <ul>
      <% edit_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_name %>
    <%= form.text_field :table_name, id: :edit_history_table_name %>
  </div>

  <div class="field">
    <%= form.label :old_value %>
    <%= form.text_field :old_value, id: :edit_history_old_value %>
  </div>

  <div class="field">
    <%= form.label :new_value %>
    <%= form.text_field :new_value, id: :edit_history_new_value %>
  </div>

  <div class="field">
    <%= form.label :column_name %>
    <%= form.text_field :column_name, id: :edit_history_column_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
