<p id="notice"><%= notice %></p>

<h1>Edit Histories</h1>

<table>
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Old Value</th>
      <th>New Value</th>
      <th>Column Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edit_histories.each do |edit_history| %>
      <tr>
        <td><%= edit_history.table_name %></td>
        <td><%= edit_history.old_value %></td>
        <td><%= edit_history.new_value %></td>
        <td><%= edit_history.column_name %></td>
        <td><%= link_to 'Show', edit_history %></td>
        <td><%= link_to 'Edit', edit_edit_history_path(edit_history) %></td>
        <td><%= link_to 'Destroy', edit_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edit History', new_edit_history_path %>
