<p id="notice"><%= notice %></p>

<p>
  <strong>Table Name:</strong>
  <%= @edit_history.table_name %>
</p>

<p>
  <strong>Old Value:</strong>
  <%= @edit_history.old_value %>
</p>

<p>
  <strong>New Value:</strong>
  <%= @edit_history.new_value %>
</p>

<p>
  <strong>Column Name:</strong>
  <%= @edit_history.column_name %>
</p>

<%= link_to 'Edit', edit_edit_history_path(@edit_history) %> |
<%= link_to 'Back', edit_histories_path %>
