<p id="notice"><%= notice %></p>

<p>
  <strong>Environment Name:</strong>
  <%= @environment.environment_name %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @environment.portfolio_id %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
